* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flex {
  background-color: pink;
  display: flex;
  padding: 30px 20px;
  justify-content: flex-end;
}

.flex > :first-child {
  margin-right: auto;
}
.flex > div {
  background-color: plum;
  flex-basis: 140px;
  height: 70px;
  margin: 0 10px;
}

.flex > :first-child {
  margin-right: auto;
}

main {
  background-color: red;
  width: 100%;
  display: flex;
  justify-content: center;
}

.flex1 {
  background-color: #d8ffb6;
  width: 300px;
}

.flex2 {
  background-color: royalblue;
  max-width: 700px;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
}

.flex2 > div {
  background-color: yellow;
  height: 130px;
  flex-basis: 200px;
  margin: 10px;
}
footer {
  background-color: wheat;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}
footer > div {
  height: 40px;
  background-color: yellowgreen;
  flex-basis: 45%;
  max-width: 600px;
  margin: 10px;
}
